    :root {
        --link-color: #2900b4;
        --link-color-dark: #190070;
    }
    
    [data-theme="cheese"] {
        --background-color: #f3ca5f;
        --text-color: #3a1e0e;
    }
    
    [data-theme="lettuce"] {
        --background-color: #88d28b;
        --text-color: #091e0a;
    }
    
    [data-theme="tomato"] {
        --background-color: #f46e6e;
        --text-color: #1a0201;
    }
    
    [data-theme="beef"] {
        --background-color: #ac5a30;
        --text-color: #170005;
    }
    
    html {
        font-size: 125%;
        font-family: 'Poppins', sans-serif;;
        line-height: 1.4;
    }
    
    body {
        background-color: white;
        min-height: 100vh;
        padding: 3em;
    }
    
    a {
        color: var(--link-color);
    }
    
    a:hover,
    a:active {
        color: var(--link-color-dark);
    }
    
    .accordion-container {
        max-width: 30em;
    }
    
    .accordion {
        position: relative;
        background-color: var(--background-color);
        color: var(--text-color);
    }
    
    .accordion::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1em;
        background-color: rgba(125, 89, 69, 0.6);
        content: "";
    }
    
    .accordion:first-child {
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
    }
    
    .accordion:first-child::before {
        border-top-left-radius: 1.5em;
    }
    
    .accordion:last-child {
        border-bottom-left-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
    }
    
    .accordion:last-child::before {
        border-bottom-left-radius: 1.5em;
    }
    
    /**
    * START EDITING HERE
    * ==================
    */
    
    .accordion__header button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 1rem);
        margin-left: 1rem;
        padding: 1.5rem 2rem 1.5rem;
        border: 0;
        text-align: left;
    }
    
    .accordion__title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    /* Indicators */
    .accordion__indicator > * {
        width: 1rem;
    }
    
    .accordion .indicator__plus {
        display: block;
    }
    
    .accordion .indicator__minus {
        display: none;
    }
    
    .accordion.is-open .indicator__minus {
        display: block;
    }
    
    .accordion.is-open .indicator__plus {
        display: none;
    }
    
    /* Accordion content */
    .accordion__content {
        display: none;
        grid-template-columns: 7.5em 1fr;
        grid-column-gap: 1.5em;
        align-items: center;
        padding-right: 3em;
        padding-bottom: 1.5em;
        padding-left: 3em;
    }
    
    .accordion__content svg {
        width: 10em;
        max-width: 100%;
    }
    

    /* Search bar styles */
    form {
        color: #fff;
        display: flex;
        padding: 2px;
        border: 1px solid grey;
        border-radius: 8px;
    }

    input[type="search"] {
        border: none;
        width: 100%;
        background: transparent;
        margin: 0;
        padding: 7px 8px;
        font-size: 14px;
        color: inherit;
        border: 1px solid transparent;
    }

    input[type="search"]::placeholder {
        color: red;
    }

    #search-btn {
        text-indent: -999px;
        overflow: hidden;
        width: 40px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 8px;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
        cursor: pointer;
        opacity: 0.7;
    }